.nav__menu {
    color: orangered;
    text-align: left;
    border-radius: 5px;
    text-shadow: 4px 5px 6px rgb(210, 175, 243);
    font: bold 25px/1.6 'Lato', sans-serif;
    text-decoration: none;
    padding: 15px;
    box-shadow: 1px 1px 5px #b8b7b7;
    margin: 20px auto;
    max-width: 800px;
}

.nav__menuList {
    text-align: left;
    border-radius: 5px;
    font: bold 18px/1.6 'Lato', sans-serif;
    list-style-type: none;
    padding: 15px;
    box-shadow: 1px 1px 5px #b8b7b7;
    margin: 20px auto;
    max-width: 800px;
}

.nav__list {
    padding-left: 25px;
}

.nav__listItem {
    margin: 10px 0;
}

.nav__linkItem {
    color: rgb(95, 91, 91);
    text-decoration: none;
}

.nav__linkItem:hover {
    color: black;

}